# Python

.env.template
tox.ini
.tox/
*venv/
requirements-*.in
requirements-dev.txt

# 問題：看無是按怎be-sai寫 */venv/
# 參考文件：https://docs.docker.com/build/concepts/context/#syntax

# Database

*/db.sqlite3

# Static File

*/media/
**/*__pycache__/

# Docker

.dockerignore
docker-compose.yml
Dockerfile
postgres_passwd.txt

# Git

.git/
.github/
.gitignore

# For Test

.travis.yml
.yamllint.yml
.gherkin-lintrc
features/
**/*tests/

# Documents

LICENSE
README.md
licenses-of-frontend.txt
licenses-of-requirements.txt
