# 問題一：看無是按怎be-sai寫 */venv/
# 參考文件：https://docs.docker.com/build/concepts/context/#syntax
# 問題二：__pycache__無成功，猶是會包入去。

# Python

**/__pycache__
**/*.pyc

# Environments

.env
.env.template
tox.ini
.tox/
requirements-*.in
requirements-dev.txt
*venv/

# Database

*/db.sqlite3

# Static File

*/media/

# Docker

.dockerignore
docker-compose.yml
Dockerfile

# Git

.git/
.github/
.gitignore

# For Test

.travis.yml
.yamllint.yml
.gherkin-lintrc
features/
**/*tests/

# Documents

LICENSE
README.md
licenses-of-frontend.txt
licenses-of-requirements.txt
