{% load wagtailcore_tags static %}

<nav class="navbar navbar-expand-lg bg-primary text-white" aria-labelledby="top-nav-toggler">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}{{ current_site.site_name }}{% endif %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
	  <span class="visually-hidden text-white" id="top-nav-toggler">主選單</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          {% include 'khing/header/link.html' with wagtail_iah=homepage iah_title='首頁' %} 
        </li>
        <li class="nav-item">
          {% include 'khing/header/link.html' with wagtail_iah=intropage %}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">族語AI應用系統</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">語音辨識系統</a></li>
            <li><a class="dropdown-item" href="#">語音合成系統</a></li>
            <li><a class="dropdown-item" href="#">基礎翻譯系統</a></li>
            <li>{% include 'khing/header/link.html' with wagtail_iah=feedbackpage is_dropbown=True %}</li>
          </ul>
        </li>
        <li class="nav-item">
        	{% include 'khing/header/link.html' with wagtail_iah=applicationformpage %}
        </li>
        <li class="nav-item">
        	{% include 'khing/header/link.html' with wagtail_iah=aboutuspage %}
        </li>
      </ul>
    </div>
  </div>
</nav>

