{% load wagtailcore_tags static %}

<header class="navbar sticky-top" role="navigation">
	<nav aria-label="主選單" class="container-fluid">
		<span class="navbar-brand"><!--Leave blank--></span>
	    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
	      <span class="navbar-toggler-icon"></span>
	      <span class="visually-hidden">主選單</span>
	    </button>
	</nav>
</header>
<aside>
	<div class="offcanvas offcanvas-end" tabindex="-1" 
		id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	  <div class="offcanvas-header border-bottom border-3 pb-3">
	    <span class="offcanvas-title" id="offcanvasRightLabel">
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}
        {{ current_site.site_name }}
        {% endif %}
	    </span>
	    <button type="button" class="btn-close" data-bs-dismiss="offcanvas">
	    	<span class="visually-hidden">關閉主選單</span>
	    </button>
	  </div>
	  <div class="offcanvas-body pt-0 px-0">
	  	<div class="list-group list-group-flush">
	  		{% include 'khing/header/link.html' with wagtail_iah=homepage iah_title='首頁' %}
	  		{% include 'khing/header/link.html' with wagtail_iah=intropage %}
			<button type="button" class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="collapseSysUrl">⌄ 族語AI應用系統</button>
			<div class="row">
			  <div class="col">
			    <div class="collapse multi-collapse" id="collapseSysUrl">
			    	<div class="list-group list-group-flush">
			    	</div>
		       		<a href="#" class="list-group-item list-group-item-action ps-5">語音辨識系統</a>
					<a href="#" class="list-group-item list-group-item-action ps-5">語音合成系統</a>
					<a href="#" class="list-group-item list-group-item-action ps-5">基礎翻譯系統</a>
	  				{% include 'khing/header/link.html' with wagtail_iah=feedbackpage indent=5 %}
			    </div>
			  </div>
			</div>
	  		{% include 'khing/header/link.html' with wagtail_iah=applicationformpage %}
	  		{% include 'khing/header/link.html' with wagtail_iah=aboutuspage %}
	  	</div>
	  </div>
	</div>	
</aside>