@font-face{
   font-family: tauhu-oo;
	 src: local("TauhuOo20.05-Regular"), url(../font/TauhuOo20.05-Regular.woff2) format("woff2");
}

:root,
[data-bs-theme=light] {
  --bs-primary: #D04410;
  --bs-primary-rgb: 208, 68, 16;
  --bs-danger: #AD0001;
  --bs-danger-rgb: 173, 0, 1;
  --bs-success: #2F5ACB;
  --bs-success-rgb: 47, 90, 203;
  --bs-link-color: #AC370C;
  --bs-link-hover-color: #172C64;
}

.btn-primary,
.btn-outline-primary {
	--bs-btn-bg: #D04410;
	--bs-btn-border-color: #D04410;
	--bs-btn-hover-bg: #AC370C;
	--bs-btn-hover-border-color: #AC370C;
}

.btn-danger,
.btn-outline-danger {
	--bs-btn-bg: #d10000;
	--bs-btn-border-color: #d10000;
	--bs-btn-hover-bg: #AD0001;
	--bs-btn-hover-border-color: #AD0001;
}

.btn-success,
.btn-outline-success {
	--bs-btn-bg: #2f5acb;
	--bs-btn-border-color: #2f5acb;
	--bs-btn-hover-bg: #274dab;
	--bs-btn-hover-border-color: #274dab;
}

body {
	font-family: tauhu-oo, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
	margin-top: auto;
}

h1, h2, h3, h4 {
	font-weight: 700;
	margin-bottom: 1.2rem;
}
h2, h3 {
	margin-top: 3rem;
}
h2:first-child {
	margin-top: 0;
}
.h3, h3{
	font-size:calc(1.1rem + .1vw);
}
@media (min-width:1200px){.h3,h3{font-size:1.5rem}}
p {
	line-height: 1.7rem;
}

#main-content img {
	max-width: 100%;
	height: auto;
	background-color: #dcdcdc;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: none;
	}
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 98vw;
	}
}

@media (min-width: 992px) {
	.modal-dialog {
		width: 80vw;
	}
}

.modal-body .sa-img {
  object-fit: cover;
    width: 100%;
    height: 100%;
}

.fixed-menu {
	max-width: min-content;
	left: auto;
	top: 2px;
	right: 2px;
}
@media screen and (min-width: 576px){
	.fixed-menu {
		top: 1rem;
		right: 1rem;
	}
}
.menu-btn.btn {
	background-color: #ffffff;
	border-color: #707070;
}
.menu-btn.btn .toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(112, 112, 112, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.menu-btn.btn:hover, .menu-btn.btn:focus {
	background-color: #303030;
	border-color: #303030;
}
.menu-btn.btn:hover .toggler-icon,
.menu-btn.btn:focus .toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

a:focus-visible {
  outline: 3px solid var(--bs-primary);
  outline-offset: 5px;
  border-radius: 2px;
}

.list-group-item-action:focus-visible {
  outline: none;
}

audio {
	max-width: 90%;
}

@media (min-width: 576px) {
	audio {
		max-width: none;
	}
}

h2 > a, h3 > a {
	display: none;
}

h2:hover > a, h3:hover > a {
	display: inline;
}

.w-75ch {
	max-width: 75ch;
}

.hide {
	display: none;
}

.z-index-0 {
	z-index: 0;
}
