@font-face{
   font-family: tauhu-oo;
	 src: local("TauhuOo20.05-Regular"), url(../font/TauhuOo20.05-Regular.woff2) format("woff2");
}

:root,
[data-bs-theme=light] {
  --bs-primary: #D04410;
  --bs-primary-rgb: 208, 68, 16;
  --bs-danger: #AD0001;
  --bs-danger-rgb: 173, 0, 1;
  --bs-success: #2F5ACB;
  --bs-success-rgb: 47, 90, 203;
  --bs-link-color: #AC370C;
  --bs-link-hover-color: #2F5ACB;
  --a-outline-color: #D04410;
}

.btn {
	--bs-btn-disabled-opacity: 1;
	--bs-btn-disabled-bg: #FFFFFF;
	--bs-btn-disabled-color: #D04410;
}

.btn-primary,
.btn-outline-primary {
	--bs-btn-bg: #D04410;
	--bs-btn-border-color: #D04410;
	--bs-btn-hover-bg: #AC370C;
	--bs-btn-hover-border-color: #AC370C;
	--bs-btn-active-bg: #AC370C;
	--bs-btn-active-border-color: #AC370C;
	--bs-btn-focus-box-shadow: rgba(244, 133, 93, 0.9) 0px 0px 0px 4px;
}

.btn-danger,
.btn-outline-danger {
	--bs-btn-bg: #D10000;
	--bs-btn-border-color: #D10000;
	--bs-btn-hover-bg: #AD0001;
	--bs-btn-hover-border-color: #AD0001;
}

.btn-success,
.btn-outline-success {
	--bs-btn-bg: #2F5ACB;
	--bs-btn-border-color: #2F5ACB;
	--bs-btn-hover-bg: #274DAB;
	--bs-btn-hover-border-color: #274DAB;
	--bs-btn-focus-box-shadow: rgba(94, 140, 255, 0.9) 0px 0px 0px 4px;
}

.btn-disabled {
	--bs-btn-disabled-bg: #FFFFFF;
}

.btn-close {
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-close:focus {
	box-shadow: 0 0 0 .25rem rgba(208, 68, 16,.25);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23D04410'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3E%3C/svg%3E");
}

.offcanvas-header .btn-close {
	opacity: 1;
	background-color: #AC370C;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z'/%3E%3C/svg%3E");
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.offcanvas-header .btn-close:hover,
.offcanvas-header .btn-close:focus
 {
	box-shadow: rgba(244, 133, 93, 0.9) 0px 0px 0px 4px;
}

.nav-link {
	--bs-nav-link-hover-color: #2F5ACB;
}

body {
	font-family: tauhu-oo, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
	margin-top: auto;
}

h1, h2, h3, h4 {
	font-weight: 700;
	margin-bottom: 1.2rem;
}
h2, h3 {
	margin-top: 3rem;
}
h2:first-child {
	margin-top: 0;
}
.h3, h3{
	font-size:calc(1.1rem + .1vw);
}
@media (min-width:1200px){.h3,h3{font-size:1.5rem}}
p {
	line-height: 1.7rem;
}

#main-content img {
	max-width: 100%;
	height: auto;
	background-color: #DCDCDC;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: none;
	}
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 98vw;
	}
}

@media (min-width: 992px) {
	.modal-dialog {
		width: 80vw;
	}
}

.modal-body .sa-img {
  object-fit: cover;
    width: 100%;
    height: 100%;
}

.fixed-menu {
	max-width: min-content;
	left: auto;
	top: 2px;
	right: 2px;
}
@media screen and (min-width: 576px){
	.fixed-menu {
		top: 1rem;
		right: 1rem;
	}
}
.menu-btn.btn {
	color: #000000;
	background-color: #FFFFFF;
	border-color: #707070;
}
.menu-btn.btn .toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(112, 112, 112, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.menu-btn.btn:hover, .menu-btn.btn:focus {
	background-color: #303030;
	border-color: #303030;
}
.menu-btn.btn:hover .toggler-icon,
.menu-btn.btn:focus .toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

a:focus-visible {
  outline: 3px solid var(--a-outline-color);
  outline-offset: 5px;
  border-radius: 2px;
}

.list-group-item-action:focus-visible {
  outline: none;
}

audio {
	max-width: 90%;
}

@media (min-width: 576px) {
	audio {
		max-width: none;
	}
}

h2 > a, h3 > a {
	display: none;
}

h2:hover > a, h3:hover > a {
	display: inline;
}

.w-75ch {
	max-width: 75ch;
}

.hide {
	display: none;
}

.z-index-0 {
	z-index: 0;
}

.modal-toggler-btn {
 	outline: none;
}

.modal-toggler-btn img{
	box-shadow: rgba(244, 133, 93, 0) 0px 0px 0px 4px;
	transition: color .15s ease-in-out,
	background-color .15s ease-in-out,border-color .15s ease-in-out,
	box-shadow .15s ease-in-out, outline .15s ease-in-out;
}

.modal-toggler-btn:active img,
.modal-toggler-btn:focus img
{
	box-shadow: rgba(244, 133, 93, 0.9) 0px 0px 0px 4px;
}
