{% load wagtailcore_tags %}

<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}" />
    {% endif %}
	<title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
</head>
<body>
	<header>
		頁首區...
		<nav aria-label="無障礙選單">
			<a href="#main">跳去主內容</a>
			<a href="{% pageurl sitemappage %}">網站地圖</a>
		</nav>
		<nav aria-label="主選單">
			<span>語音辨識系統</span>
			<span>語音合成系統</span>
			<span>基礎翻譯系統</span>
			<a href="{% pageurl feedbackpage %}">{{feedbackpage.title}}</a>
			<a href="{% pageurl intropage %}">計畫介紹</a>
			<a href="{% pageurl applicationformpage %}">語料申請頁</a>
			<a href="{% pageurl aboutuspage %}">關於我們</a>
		</nav>
	</header>
	<hr>
	<main>
		<h1 id="main">
			{% block main_h1 %}{{ page.title }}{% endblock %}
		</h1>
		{% block main_content %}{% endblock %}
	</main>
	<hr>
	<footer>頁腳區...
		<a href="{% pageurl copyrightpage %}">著作權聲明</a>
		<a href="{% pageurl termofusepage %}">網站使用條款聲明</a>
	</footer>
</body>
</html>

