{% extends "khing/base.html" %}
{% load wagtailcore_tags wagtailembeds_tags %}

{% block main_content %}
<div>
	{{page.body|richtext}}

	<h2>族語語音辨識系統操作影片</h2>
	{% embed 'https://www.youtube.com/watch?v=xe2mWYsOHAE&list=PLiE9IU4Trw0U38U297iJmM3XLQqokYN_k&index=3' max_width=560 %}

	<h2>語音合成系統操作影片（預設配音員）</h2>
	{% embed 'https://www.youtube.com/watch?v=lOHWeDNU6-s&list=PLiE9IU4Trw0U38U297iJmM3XLQqokYN_k&index=1' max_width=560 %}

	<h2>語音合成系統操作影片（自己當配音員）</h2>
	{% embed 'https://www.youtube.com/watch?v=mCQ3unjbqVo&list=PLiE9IU4Trw0U38U297iJmM3XLQqokYN_k&index=2' max_width=560 %}

	<h2>族語基礎翻譯系統操作影片</h2>
	{% embed 'https://www.youtube.com/watch?v=TFhdODQbJ-M&list=PLiE9IU4Trw0U38U297iJmM3XLQqokYN_k&index=4' max_width=560 %}
</div> 
{% endblock %}
